<!doctype html>
<html>
   <head>
      <title>Welcome to sumit website</title>
   </head>
   <body>
      <center>
      <h1>Welcome to Sumit's Mutual Fund Tracker</h1>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
      </p>
      <p><a href = "{{ url_for('report') }}"><img src="static/images/report.png"/></a>
         <a href = "{{ url_for('show_db') }}"><img src="static/images/update.png"/></a>
      </p>
      <p><a href = "{{ url_for('index') }}"><img src="static/images/logout.png"/></a></p>
      </center>
      </body>
</html>