<!doctype html>
<html>
   <body>
         <center>
      <form action = "/login" method = post>
            <table style="width: 500px;"><tr><td align="center" valign="top">
            <tr><h3>Login Page</h3></tr>
            <tr>
                  <td>Username:</td>
                  <td><input type = text name = username></td>
            </tr>
            <tr>
                  <td>Password</td>
                  <td><input type = password name = password></td>
            </tr>
            <tr>
                  <td>
                  {% if error %}
                  <P><strong>Error:</strong> {{ error }}
                  {% endif %}
                  </td>
                  <td>
                  <input type = "image" value = "Login" src="static\images\login.png" width="100" height="30" alt="Login"> 
                  </td>
            </tr>
            </table>
      </form>
      </center>
   </body>
</html>