<!doctype html>
<html>
   <body>
    <center>
    <form action = "/report" method = "POST">
        <br>
        {% set profit = mf_data.pop() %}
        <h1>
            {% if profit|float < 0.0 %}<font color="red"><b> {{ profit }}% &#x21E9; </b></font><p><img src="static/images/loss.png" width="100" height="100"/></p>
            {% else %}<font color="green"><b>{{ profit }}% &#x21E7;</b></font><p><img src="static/images/profit.png" width="100" height="100"/></p>
            {% endif %}
            </h1>
        <table border = 5>
            <thead>
                <tr>
                    <th>MUTUAL FUND NAME</th>
                    <th>NAV</th>
                    <th>UNITS</th>
                    <th>COST</th>
                    <th>VALUE</th>
                    <th>PROFIT/LOSS</th>
                </tr>
            </thead>
            {% for row in mf_data%}
               <tr>
                  <th align="left"> {{ row[0] }} </th>
                  <td align="left"> {{ row[1] }} </td>
                  {% if row[0] == "" %}
                    <td align="right"><b>{{ row[2] }}</b></td>
                    <td align="left"><b>&#x20a8; {{ row[3] }}</b></td>
                    <td align="left"><b> &#x20a8; {{ row[4] }}</b></td>
                  {% else %}
                  <td align="left"> {{ row[2] }} </td>
                  <td align="left"> &#x20a8; {{ row[3] }}</td>
                  <td align="left"> &#x20a8; {{ row[4] }}</td>
                  {% endif %}
                  <td align="left">
                        {% if row[5]|float < 0.0 %}<font color="red"><b>&#x20a8; {{ row[5] }}</b></font>
                        {% else %}<font color="green"><b>&#x20a8; {{ row[5] }}</b></font>
                        {% endif %}
                  </td>
                </b>
               </tr>
            {% endfor %}
        </table>
     </table>
     <p><a href = "{{ url_for('home') }}"><b><img src="static/images/back.png"/></b></a>
     </center>
   </body>
</html>